{% extends 'base.html.twig' %}

{% block title %}Nos membres{% endblock %}

{% block body %}
    <h1>Nos membres</h1>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="{{ path('membres_guigues') }}"><img class="img-perso" src="{{ asset('build/images/guigues_index.jpg') }}" alt="Guigues d'Albon"/></a>
                <a class="titre-perso" href="{{ path('membres_guigues') }}">Guigues d'Albon</a>
            </div>
            <div class="col-6">
                <a href="{{ path('membres_blanche') }}"><img class="img-perso" src="{{ asset('build/images/blanche_index.jpg') }}" alt="Blanche de Villedieu"/></a>
                <a class="titre-perso" href="{{ path('membres_blanche') }}">Blanche de Villedieu</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a href="{{ path('membres_alana') }}"><img class="img-perso" src="{{ asset('build/images/alana_index.jpg') }}" alt="Alana Louarn Rouss"/></a>
                <a class="titre-perso" href="{{ path('membres_alana') }}">Alana Louarn Rouss</a>
            </div>
            <div class="col-6">
                <a href="{{ path('membres_theobald') }}"><img class="img-perso" src="{{ asset('build/images/theobald_index.jpg') }}" alt="Théobald"/></a>
                <a class="titre-perso" href="{{ path('membres_theobald') }}">Théobald</a>
            </div>
        </div>
    </div>
{% endblock %}
