{% extends 'base.html.twig' %}

{% block title %}Les personnages{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Les personnages</h1>

    <div class="container">
        <div class="row g-3">
            <p>image Guigues</p>
            {# <img src="{{ asset('build/path_to_image.png') }}" alt=""/ #}
            <a class="titre-perso" href="{{ path('membres_guigues') }}">Guigues d'Albon</a>
        </div>
        <div class="row g-3">
            <p>image Blanche</p>
            <a class="titre-perso" href="{{ path('membres_blanche') }}">Blanche de Villedieu</a>
        </div>
        <div class="row g-3">
            <p>image Alana</p>
            <a class="titre-perso" href="{{ path('membres_alana') }}">Alana Louarn Rouss</a>
        </div>
        <div class="row g-3">
            <p>image Théobald</p>
            <a class="titre-perso" href="{{ path('membres_theobald') }}">Théobald</a>
        </div>
    </div>
{% endblock %}
