{% extends 'base.html.twig' %}

{% block title %}Nos prestations{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Les ateliers</h1>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p></p>
                    <p class="presta-italic text-center">Vous pourez retrouver tous ces ateliers en déambulation au travers des rues, à l'ombre d'une place ou profitant de la fraîcheur d'une fontaine, chargés sur des claies de portage et une brouette, ou tout simplement sur le <a class="presta-ateliers" href="{{ path('prestations_campement') }}">campement</a>, abrités par les auvents des tentes.
                </div>

                <div class="atelier row flex">
                    <div class="col-6">
                        <img class="image-presta-grande" src="{{ asset('build/images/atelier_herbes.jpg') }}" alt="Atelier textile"/>
                    </div>
                    <div class="col-6 text-center">
                        <p></p>
                        <h7>L'herboristerie et le commerce des épices</h7>
                        <p></p>
                        <p class="text-center">Vous découvrirez l'importance des épices et de leur commerce dans le monde médiéval ainsi que le coût étonnant du sel.</p>
                        <p class="text-center">Vous aurez l'occasion de vous familiariser avec les principales plantes utilisées à l'époque, que ce soit pour la cuisine ou pour se soigner, centrées sur notre particularité: la vie montagnarde. Leurs usages vous seront expliqués et vous apprendrez à les reconnaître.</p>
                    </div>
                </div>

                  <div class="atelier row flex">
                    <div class="col-6 text-center">
                        <p></p>
                        <h7>Le textile, tout un savoir-faire</h7>
                        <p></p>
                        <p class="text-center">Notre tisserande vous présentera les différents matériaux utilisés dans la confection de costumes d'époque, ainsi que leur utilité, le choix des teintures et la couture à la main.</p>
                        <p class="text-center">Il vous sera présenté deux techniques de tissage de galons « au peigne » ou « aux cartes ». Ils étaient utilisés comme ceintures, bordures de vêtements ou harnais de chevaux.</p>
                        <p class="text-center">Vous découvrirez aussi diverses méthodes de travail de la laine (telles que le naalbinding ou la lucette) ainsi que la broderie dite brickstitch, très à la mode à l'époque.</p>
                    </div>
                    <div class="col-6">
                        <img class="image-presta-grande" src="{{ asset('build/images/atelier_textile.jpg') }}" alt="Atelier textile"/>
                    </div>
                </div>

                <div class="atelier row flex">
                    <div class="col-6">
                        <img class="image-presta-grande" src="{{ asset('build/images/atelier_calli.jpg') }}" alt="Atelier textile"/>
                    </div>
                    <div class="col-6 text-center">
                        <p></p>
                        <h7>La calligraphie et l'enluminure</h7>
                        <p></p>
                        <p class="text-center">L’écriture est un art de patience et de précision.</p>
                        <p class="text-center">Découvrez, apprenez si le coeur vous en dit, le maniement de la plume, du calame et bien d'autres outils, encres et pigments avec notre calligraphe.</p>
                    </div>
                </div>

                <div class=" atelier row flex">
                    <div class="col-6 text-center">
                        <p></p>
                        <h7>Le rôle du héraut d'armes et l'héraldique</h7>
                        <p></p>
                        <p class="text-center">La science de l’héraldique est une science rigoureuse et complexe permettant en un regard de transmettre des informations sur le porteur de telles ou telles armoiries. Née au XIIe siècle sur les champs de bataille, le blason a pour fonction première l’identification des combattants.</p>
                        <p class="text-center">Elle tire son nom de celui du héraut d'armes, chargé au Moyen Âge de transmettre les déclarations de guerre, d’<a class="presta-ateliers" href="{{ path('prestations_animations') }}">annoncer les tournois</a> et de veiller au respect de la codification des armoiries. Notre héraut d’armes et ses poursuivants vous conteront la naissance de cette caste peu connue, leurs fonctions et charges.</p>
                    </div>
                    <div class="col-6">
                        <img class="image-presta-grande" src="{{ asset('build/images/atelier_heraldique.jpg') }}" alt="Atelier textile"/>
                    </div>
                </div>

                <div class="atelier row flex">
                    <div class="col-6">
                        <img class="image-presta-grande" src="{{ asset('build/images/atelier_cuir.jpg') }}" alt="Atelier textile"/>
                    </div>
                    <div class="col-6 text-center">
                        <p></p>
                        <h7>Le travail du cuir</h7>
                        <p></p>
                        <p class="text-center">Tâche indispensable de la vie courante, que ce soit pour la confection de chaussures, de ceintures, d'escarcelles ou de harnais, le travail du cuir est plusieurs métiers à lui tout seul.</p>
                        <p>Vous pourez ainsi observer au travail un artisan du cuir, qui vous fournira d'amples explications sur les usages en cours à cette époque.</p>
                    </div>
                </div>

                <div class="atelier row flex">
                    <div class="col-6 text-center">
                        <p></p>
                        <h7>La cuisine</h7>
                        <p></p>
                        <p class="text-center">Une troupe heureuse est une compagnie qui a le ventre plein!</p>
                        <p class="text-center">Nous réalisons nos repas d’après des recettes médiévales sourcées extraites de manuscrits d'époque devant vous et en profitons pour engager une discussion sur l’alimentation, les ustensiles et l’évolution des aliments et des goûts au fil des âges.</p>
                    </div>
                    <div class="col-6">
                        <img class="image-presta-grande" src="{{ asset('build/images/atelier_cuisine.jpg') }}" alt="Atelier textile"/>
                    </div>
                </div>

                <div class="atelier row flex">
                    <div class="col-6">
                        <img class="image-presta-grande" src="{{ asset('build/images/atelier_jeux.jpg') }}" alt="Atelier textile"/>
                    </div>
                    <div class="col-6 text-center">
                        <p></p>
                        <h7>Les jeux médiévaux</h7>
                        <p></p>
                        <p class="text-center">Découvrez nos jeux médiévaux conçus pour vous divertir entre amis.</p>
                        <p class="text-center">Mérelle, hnefatafl ou encore échecs, vous trouverez des explications sur les usages et règles de jeu en libre service.</p>
                    </div>
                </div>

                <div class="col-12">
                    <p class="presta-italic text-center">Tarifs sur <a class="presta-contact" href="{{ path('contact') }}">demande</a>.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}