{% extends 'base.html.twig' %}

{% block title %}Les prestations{% endblock %}

{% block body %}
    <h1>Les prestations</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="presta-italic text-center">Guigues des Hautes Terres et ses compagnons sont amenés à voyager pour remplir les missions de sa charge de héraut d'armes. En chemin, ils en profitent pour commercer, dispenser leurs savoirs et animer places et banquets.<p>
            </div>
            <div class="col-6">
                <a href="{{ path('prestations_campement') }}"><img class="img-presta" src="{{ asset('build/images/campement_index.jpg') }}" alt="Campement"/></a>
                <a class="titre-presta" href="{{ path('prestations_campement') }}">Le campement</a>
            </div>
            <div class="col-6">
                <a href="{{ path('prestations_ateliers') }}"><img class="img-presta" src="{{ asset('build/images/ateliers2_index.jpg') }}" alt="Ateliers"/></a>
                <a class="titre-presta" href="{{ path('prestations_ateliers') }}">Les ateliers</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <a href="{{ path('prestations_animations') }}"><img class="img-presta" src="{{ asset('build/images/animations_index.jpg') }}" alt="Animations"/></a>
                <a class="titre-presta2" href="{{ path('prestations_animations') }}">Les animations</a>
            </div>
        </div>
    </div>
{% endblock %}
