{% extends 'base.html.twig' %}

{% block title %}Espace membres{% endblock %}

{% block body %}
    <h1>Espace membres</h1>
    {% if app.user %}
        <h4>Bienvenue!</h4>

        {% for article in articles %}
            <div div="articleBloc">
               <h8>{{ article.title }}</h8>
               <p>Catégorie: {{ article.category.name }}</p>
               <a href="{{ path("article_show", { id: article.id }) }}"><button>Voir</button></a>
               <a href="{{ path("article_edit", { id: article.id }) }}"><button>Modifier</button></a>
               {% if is_granted("ROLE_ADMIN") %}
                  <a href="{{ path("article_delete", { id: article.id }) }}"><button>Supprimer</button></a>
               {% endif %}
            </div>
        {% else %}
            Aucun article trouvé
        {% endfor %}
      
      <a href="{{ path("article_new")}}"><button>Créer un nouvel article</button></a>

    {% else %}
        <h4 class="text-center">Vous devez être connectés pour accéder à cet espace!</h4>
    {% endif %}
{% endblock %}